@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Space Grotesk', sans-serif;
}

@theme {
    --color-primary: #6676d2;
    --color-secondary: #3545a5;
    --color-dark: #0f172a;
}
